{% extends 'admin/base.admin.html.twig' %}

{% block title %} {{ parent() }} - Dashboard {% endblock %}

{% block body %}
    <nav>
        <a href="{{ path('admin.post.new') }}" class="btn-primary">Créer un nouvel article</a>
    </nav>

    <h2>Articles</h2>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date de création</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Image</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>_u
                <th scope="row">#{{ post.id }}</th>
                <td>{{ post.createdAt|date("d/m/y", "Europe/Paris") }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.user.fullname }}</td>
                <td>
                    {% if post.image %}
                        <figure>
                            <img src="{{ asset_post_image_dir(post.image) }}" alt="{{ post.title }}">
                        </figure>
                    {% else %}
                        PAS D'IMAGE
                    {% endif %}
                </td>
                <td>{{ post.category.name }}</td>
                <td>
                    <a href="{{ path('admin.post.edit', {'id': post.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin.post.removeImage', {'id': post.id}) }}" class="btn btn-warning" title="Supprimer"><i class="fas fa-calendary"></i> </a> "
                    <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>_
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
